@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Completed Tasks</h2>

@model IEnumerable<Mission08_Team0409.Models.TaskItem>

@foreach (var item in Model.Where(t => t.Completed))
{
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>@item.TaskToDo - (Quadrant @item.Quadrant) - Was Due @(item.Date.HasValue ? item.Date.Value.ToString("MMM dd") : "")</span>
        <div>
            <a class="btn btn-sm btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId" asp-route-returnUrl="Completed">
                <i class="bi bi-trash"></i> Delete
            </a>
        </div>
    </li>
}