@{
    ViewData["Title"] = "Stephen Covey's Time Management Matrix";
}

@model IEnumerable<Mission08_Team0409.Models.TaskItem>

<h2 class="text-center mb-4">Stephen Covey's Time Management Matrix</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 border p-4 bg-light">
            <h4 class="text-center">Quadrant I</h4>
            <p class="text-center"><strong>Important / Urgent</strong></p>
            <ul>
				@foreach(var item in Model.Where(t => t.Quadrant == 1))
				{
					<li>@item.TaskToDo</li>
				}
            </ul>
        </div>
        <div class="col-md-6 border p-4 bg-success-subtle">
            <h4 class="text-center">Quadrant II</h4>
            <p class="text-center"><strong>Important / Not Urgent</strong></p>
            <ul>
                @foreach(var item in Model.Where(t => t.Quadrant == 2))
                {
                   <li>@item.TaskToDo</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border p-4 bg-warning-subtle">
            <h4 class="text-center">Quadrant III</h4>
            <p class="text-center"><strong>Not Important / Urgent</strong></p>
            <ul>
                @foreach(var item in Model.Where(t => t.Quadrant == 3))
                {
                   <li>@item.TaskToDo</li>
                }
            </ul>
        </div>
        <div class="col-md-6 border p-4 bg-danger-subtle">
            <h4 class="text-center">Quadrant IV</h4>
            <p class="text-center"><strong>Not Important / Not Urgent</strong></p>
            <ul>
                @foreach(var item in Model.Where(t => t.Quadrant == 4))
                {
                   <li>@item.TaskToDo</li>
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .row > div {
        min-height: 250px;
    }
    h4 {
        font-weight: bold;
    }
</style>